/*Desenvolvedor: Yorranan Costa*/
/*GitHub: YorrananCosta*/

h1{
    text-align: left;
   color: #0F1111; 
}
body{
    background-color: #fdfdfd;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: justify;
    text-emphasis-style: ;
}
header{
    background-color: #F2F4F4;
    border-top: 2px  #1E2323 solid;
    border-bottom: 2px #F2F4F4 solid;
    margin-bottom: 0px;
    width: 100%;
    font-weight: auto;
}
#name{
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#nomeSite{
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-align: left;
}
#destaque{
    margin: 10%;
    border-top: 4px;
    border-bottom: 4px;
    border-left: 4px;
    border-right: 4px;
    color: #000000;
    text;
}
#autor{
    border-top: 2px #798A8A;
    margin: 10%;
}
footer{
    margin: 10%;
}